

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
main>section{
    margin-top: 130px;
}
.display-flex{
    display: flex;
}
/* dark=02 */
.text-gray{
    color: #424242;
}
/* Dark-03 */
.text-light-gray{
    color: #727272;
    
}
    

/* navber styles */
.nav-item{
    list-style: none;
    margin: 20px;
}
.nav-link{
    text-decoration: none;
}
.navber{
    justify-content: space-between;
    align-items: center;
    
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navber, .banner{
    max-width: 1440px;
    margin: 0 auto;
    

}


/* banner style */
.section-title{
    font-size: 3rem;
    font-weight: bold;
}
.banner-content{
    max-width: 530px;
    margin: 0 auto;
    text-align: center;
}
.banner-image{
    width: 100%;
    
}
.btn-primary{
    margin-bottom: 20px;
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 30px;
    font-size: 1.5rem;
    font-weight: 600px;
    border: none;
    border-radius: 5px;
}
/* main style */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.teams{
    align-items: center;
}
.our-feature{
    padding-left: 90px;
    max-width: 530px;
}




/* section start */

.features{
    gap: 130px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 100px;
    
}
.features>div{
    width: 100%;
    height: 100%;

}
#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700; 
}

.feature-architect img{
    width: 100%;
    /* height: 100%; */
     /* width: 800px;  */
     height: 1000px; 
    /* height: 100%; */
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
 
}

#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-card{

    padding: 30px;
    /* border-radius: 8px; */
     box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-title{
    font-size: 1.25rem;
    font-weight: 600px;
}







/* our features */
#quick-list{
    font-size: 2.8rem;
    font-weight: 400px;
}
#of-our{
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    
}
.text-primary{
    font-size: 2.8rem;
    font-weight: bold;
    color: #FF900E;
}

/* some facts releted  */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.fact-card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* text-align: center; */
    
   
}
.fact-number{
     font-size: 2.8rem;
    font-weight: 600px;
    margin-bottom: 0;
    margin-top: 0;

}
.fact-name{
    font-size: 1.5rem;
    font-weight: 600px;

}
.fact-description{
    max-width: 540px;

}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    /* text-align: center; */
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);

}







/* media query */


@media screen and (max-width:576px) {
    .banner, 
    .navber,
    .teams
    
    {
        flex-direction: column;
    }
    
    .team-img-container ,
     .facts-container,
     .sponsor-companies,
     .features
     {
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
    }
    .feature-architect #experience-badge {
        margin: 10px;
    }
     .sponsor-companies,.facts-container, .team-img-container  {
        justify-items: center;
        gap: 24px;
        
        /* margin-left: 60px; */
    }
  
    
    
    .our-feature{
        /* margin: 0 auto; */
        /* text-align: left; */
        margin-left: 2px;
        padding-left: 0;
    }
    .teams{
        padding-right: 50px;
    }

}
    /* medium style */
    

@media screen and (min-width:576px) and (max-width:992px) {
    .banner, 
    .navber,
    .teams
    {
        flex-direction: column;
    }
    
    .team-img-container{
        flex-direction: column;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
    }
    .our-feature{
        /* margin: 0 auto; */
        /* text-align: left; */
        margin-left: 0 auto;
        padding-left: 0;
        max-width: 800px;
    }
    .teams{
        padding-right: 50px;
    }
    .sponsor-companies , .facts-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;

    }
    .features{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .feature-architect #experience-badge {
        margin: 10px;
    }
    
}
@media screen and (min-width:992px) and (max-width:1030px) {

.banner, 
    /* .navber, */
    .teams
    {
        flex-direction: column;
    }
    
    .team-img-container{
        flex-direction: column;
        grid-template-columns: repeat(2,2fr);
    }
    .our-feature{
        /* margin: 0 auto; */
        /* text-align: left; */
        margin-left: 170px;
        padding-left: 0;
    }
    .our-feature{
        text-align: center;
        align-items: center;
    }
    

}
